li {
  list-style: none;
  text-decoration: none;
}

.header_main, .menu {
  a, li {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #acacac;
  }

  span {
    width: 30px;
    margin: 5px;
  }

}

.menu {
  background-color: rgba(34,34,34,.94);
  position: fixed;
  color: white;
  box-shadow: 1px 3px 10px 0 rgba(34,34,34,.5);
  top: 8%;
  left: 0;
  padding: 10px 0;
  z-index: 5;
}

.submenu {
  display: none;
  padding: 5px;

}

.menu li:hover .submenu {
  display: block;
  overflow-y: auto;
  width: 250px;

  label {
    display: block;
    word-wrap:break-word;
  }
}


