.files {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 100px;
  a {
    text-decoration: none;
  }
}

.file {
  a {
    text-decoration: none;
    color: black;
    line-height: 1.42857143;
  }

  padding: 30px;
  width: 300px;
  text-align: center;

  img {
    width: 70px;
  }

  span {
    display: block;
    padding-bottom: 20px;
  }
}